<table id="list" class="table table-striped portfolio-list">
    <tbody>
    {% for line in allMedias %}
    {% set used = false %}
    {% if line.id in mediaIds %}
    {% set used = true %}
    {% endif %}
    {% include 'BigfootMediaBundle:snippets:table_line.html.twig' with {'line': line, 'used': used} %}
    {% endfor %}
    </tbody>
</table>